In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
compustat = pd.read_csv('C:/Users/ryanm_fa0xwnc/PycharmProjects/master/Python-Projects/SIF/Data/Compustat19612018.csv')
CRSP = pd.read_csv('C:/Users/ryanm_fa0xwnc/PycharmProjects/master/Python-Projects/SIF/Data/CRSP2007_2018.csv')
linking_table = pd.read_csv('C:/Users/ryanm_fa0xwnc/PycharmProjects/master/Python-Projects/SIF/Data/CompustatMergedDatabase.csv')

In [3]:
compustat.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>gvkey</th>
      <th>datadate</th>
      <th>fyear</th>
      <th>indfmt</th>
      <th>consol</th>
      <th>popsrc</th>
      <th>datafmt</th>
      <th>tic</th>
      <th>curcd</th>
      <th>act</th>
      <th>...</th>
      <th>pstkl</th>
      <th>pstkrv</th>
      <th>re</th>
      <th>revt</th>
      <th>sale</th>
      <th>seq</th>
      <th>tie</th>
      <th>txp</th>
      <th>txt</th>
      <th>costat</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1000</td>
      <td>12/31/1961</td>
      <td>1961</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>NaN</td>
      <td>...</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.900</td>
      <td>0.900</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.050</td>
      <td>I</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1000</td>
      <td>12/31/1962</td>
      <td>1962</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>NaN</td>
      <td>...</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.600</td>
      <td>1.600</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.090</td>
      <td>I</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1000</td>
      <td>12/31/1963</td>
      <td>1963</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>0.408</td>
      <td>...</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.052</td>
      <td>1.457</td>
      <td>1.457</td>
      <td>0.553</td>
      <td>NaN</td>
      <td>0.000</td>
      <td>0.001</td>
      <td>I</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1000</td>
      <td>12/31/1964</td>
      <td>1964</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>0.718</td>
      <td>...</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.001</td>
      <td>2.032</td>
      <td>2.032</td>
      <td>0.607</td>
      <td>NaN</td>
      <td>0.007</td>
      <td>0.020</td>
      <td>I</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1000</td>
      <td>12/31/1965</td>
      <td>1965</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>0.725</td>
      <td>...</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>-0.196</td>
      <td>1.688</td>
      <td>1.688</td>
      <td>0.491</td>
      <td>NaN</td>
      <td>0.000</td>
      <td>-0.103</td>
      <td>I</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 37 columns</p>
</div>

In [4]:
CRSP.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PERMNO</th>
      <th>date</th>
      <th>SHROUT</th>
      <th>CFACSHR</th>
      <th>vwretd</th>
      <th>sprtrn</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10001</td>
      <td>01/31/2007</td>
      <td>2959.0</td>
      <td>1.5</td>
      <td>0.019397</td>
      <td>0.014059</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10001</td>
      <td>02/28/2007</td>
      <td>2989.0</td>
      <td>1.5</td>
      <td>-0.013988</td>
      <td>-0.021846</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10001</td>
      <td>03/30/2007</td>
      <td>3002.0</td>
      <td>1.5</td>
      <td>0.012950</td>
      <td>0.009980</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10001</td>
      <td>04/30/2007</td>
      <td>3002.0</td>
      <td>1.5</td>
      <td>0.039815</td>
      <td>0.043291</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10001</td>
      <td>05/31/2007</td>
      <td>3003.0</td>
      <td>1.5</td>
      <td>0.038932</td>
      <td>0.032549</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
linking_table.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>gvkey</th>
      <th>conm</th>
      <th>LINKPRIM</th>
      <th>LIID</th>
      <th>LINKTYPE</th>
      <th>LPERMNO</th>
      <th>LPERMCO</th>
      <th>LINKDT</th>
      <th>LINKENDDT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1000</td>
      <td>A &amp; E PLASTIK PAK INC</td>
      <td>P</td>
      <td>01</td>
      <td>LU</td>
      <td>25881</td>
      <td>23369</td>
      <td>19701113</td>
      <td>19780630</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1001</td>
      <td>A &amp; M FOOD SERVICES INC</td>
      <td>P</td>
      <td>01</td>
      <td>LU</td>
      <td>10015</td>
      <td>6398</td>
      <td>19830920</td>
      <td>19860731</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1002</td>
      <td>AAI CORP</td>
      <td>C</td>
      <td>01</td>
      <td>LC</td>
      <td>10023</td>
      <td>22159</td>
      <td>19721214</td>
      <td>19730605</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1003</td>
      <td>A.A. IMPORTING CO INC</td>
      <td>C</td>
      <td>01</td>
      <td>LU</td>
      <td>10031</td>
      <td>6672</td>
      <td>19831207</td>
      <td>19890816</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1004</td>
      <td>AAR CORP</td>
      <td>P</td>
      <td>01</td>
      <td>LU</td>
      <td>54594</td>
      <td>20000</td>
      <td>19720424</td>
      <td>E</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
# convert integer dates in format YYYYMMDD to datetime objects in LINKDT and LINKENDDT columns.
# coerce errors because of 'E' values and then fill properly with date.today()
linking_table.LINKDT = pd.to_datetime(linking_table.LINKDT.astype(str), format='%Y%m%d', errors='coerce').fillna(datetime.date.today())
linking_table.LINKENDDT = pd.to_datetime(linking_table.LINKENDDT.astype(str), format='%Y%m%d', errors='coerce').fillna(datetime.date.today())

In [7]:
linking_table.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>gvkey</th>
      <th>conm</th>
      <th>LINKPRIM</th>
      <th>LIID</th>
      <th>LINKTYPE</th>
      <th>LPERMNO</th>
      <th>LPERMCO</th>
      <th>LINKDT</th>
      <th>LINKENDDT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1000</td>
      <td>A &amp; E PLASTIK PAK INC</td>
      <td>P</td>
      <td>01</td>
      <td>LU</td>
      <td>25881</td>
      <td>23369</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1001</td>
      <td>A &amp; M FOOD SERVICES INC</td>
      <td>P</td>
      <td>01</td>
      <td>LU</td>
      <td>10015</td>
      <td>6398</td>
      <td>1983-09-20</td>
      <td>1986-07-31</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1002</td>
      <td>AAI CORP</td>
      <td>C</td>
      <td>01</td>
      <td>LC</td>
      <td>10023</td>
      <td>22159</td>
      <td>1972-12-14</td>
      <td>1973-06-05</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1003</td>
      <td>A.A. IMPORTING CO INC</td>
      <td>C</td>
      <td>01</td>
      <td>LU</td>
      <td>10031</td>
      <td>6672</td>
      <td>1983-12-07</td>
      <td>1989-08-16</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1004</td>
      <td>AAR CORP</td>
      <td>P</td>
      <td>01</td>
      <td>LU</td>
      <td>54594</td>
      <td>20000</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
# Same as linking table, except error handling is not needed
compustat.datadate = pd.to_datetime(compustat.datadate.astype(str), format='%m/%d/%Y')

In [9]:
compustat.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>gvkey</th>
      <th>datadate</th>
      <th>fyear</th>
      <th>indfmt</th>
      <th>consol</th>
      <th>popsrc</th>
      <th>datafmt</th>
      <th>tic</th>
      <th>curcd</th>
      <th>act</th>
      <th>...</th>
      <th>pstkl</th>
      <th>pstkrv</th>
      <th>re</th>
      <th>revt</th>
      <th>sale</th>
      <th>seq</th>
      <th>tie</th>
      <th>txp</th>
      <th>txt</th>
      <th>costat</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1000</td>
      <td>1961-12-31</td>
      <td>1961</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>NaN</td>
      <td>...</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.900</td>
      <td>0.900</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.050</td>
      <td>I</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1000</td>
      <td>1962-12-31</td>
      <td>1962</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>NaN</td>
      <td>...</td>
      <td>0.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1.600</td>
      <td>1.600</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>0.090</td>
      <td>I</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1000</td>
      <td>1963-12-31</td>
      <td>1963</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>0.408</td>
      <td>...</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.052</td>
      <td>1.457</td>
      <td>1.457</td>
      <td>0.553</td>
      <td>NaN</td>
      <td>0.000</td>
      <td>0.001</td>
      <td>I</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1000</td>
      <td>1964-12-31</td>
      <td>1964</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>0.718</td>
      <td>...</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.001</td>
      <td>2.032</td>
      <td>2.032</td>
      <td>0.607</td>
      <td>NaN</td>
      <td>0.007</td>
      <td>0.020</td>
      <td>I</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1000</td>
      <td>1965-12-31</td>
      <td>1965</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>0.725</td>
      <td>...</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>-0.196</td>
      <td>1.688</td>
      <td>1.688</td>
      <td>0.491</td>
      <td>NaN</td>
      <td>0.000</td>
      <td>-0.103</td>
      <td>I</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 37 columns</p>
</div>

In [10]:
# link compustat and linking_table on gvkey of both
compustat_linking = compustat.merge(linking_table, how='outer', left_on=['gvkey'], right_on=['gvkey'], validate='many_to_many')

In [11]:
compustat_linking.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>gvkey</th>
      <th>datadate</th>
      <th>fyear</th>
      <th>indfmt</th>
      <th>consol</th>
      <th>popsrc</th>
      <th>datafmt</th>
      <th>tic</th>
      <th>curcd</th>
      <th>act</th>
      <th>...</th>
      <th>txt</th>
      <th>costat</th>
      <th>conm</th>
      <th>LINKPRIM</th>
      <th>LIID</th>
      <th>LINKTYPE</th>
      <th>LPERMNO</th>
      <th>LPERMCO</th>
      <th>LINKDT</th>
      <th>LINKENDDT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1000</td>
      <td>1961-12-31</td>
      <td>1961.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>NaN</td>
      <td>...</td>
      <td>0.050</td>
      <td>I</td>
      <td>A &amp; E PLASTIK PAK INC</td>
      <td>P</td>
      <td>01</td>
      <td>LU</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1000</td>
      <td>1962-12-31</td>
      <td>1962.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>NaN</td>
      <td>...</td>
      <td>0.090</td>
      <td>I</td>
      <td>A &amp; E PLASTIK PAK INC</td>
      <td>P</td>
      <td>01</td>
      <td>LU</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1000</td>
      <td>1963-12-31</td>
      <td>1963.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>0.408</td>
      <td>...</td>
      <td>0.001</td>
      <td>I</td>
      <td>A &amp; E PLASTIK PAK INC</td>
      <td>P</td>
      <td>01</td>
      <td>LU</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1000</td>
      <td>1964-12-31</td>
      <td>1964.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>0.718</td>
      <td>...</td>
      <td>0.020</td>
      <td>I</td>
      <td>A &amp; E PLASTIK PAK INC</td>
      <td>P</td>
      <td>01</td>
      <td>LU</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1000</td>
      <td>1965-12-31</td>
      <td>1965.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>0.725</td>
      <td>...</td>
      <td>-0.103</td>
      <td>I</td>
      <td>A &amp; E PLASTIK PAK INC</td>
      <td>P</td>
      <td>01</td>
      <td>LU</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 45 columns</p>
</div>

In [12]:
# Filter out rows that are not valid, which are those where the date does not fall between the LINKDT and LINKENDDT
compustat_linking_filtered = compustat_linking[(compustat_linking.datadate >= compustat_linking.LINKDT) & (compustat_linking.datadate <= compustat_linking.LINKENDDT)]
compustat_linking_filtered.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>gvkey</th>
      <th>datadate</th>
      <th>fyear</th>
      <th>indfmt</th>
      <th>consol</th>
      <th>popsrc</th>
      <th>datafmt</th>
      <th>tic</th>
      <th>curcd</th>
      <th>act</th>
      <th>...</th>
      <th>txt</th>
      <th>costat</th>
      <th>conm</th>
      <th>LINKPRIM</th>
      <th>LIID</th>
      <th>LINKTYPE</th>
      <th>LPERMNO</th>
      <th>LPERMCO</th>
      <th>LINKDT</th>
      <th>LINKENDDT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>1000</td>
      <td>1970-12-31</td>
      <td>1970.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>21.351</td>
      <td>...</td>
      <td>1.742</td>
      <td>I</td>
      <td>A &amp; E PLASTIK PAK INC</td>
      <td>P</td>
      <td>01</td>
      <td>LU</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1000</td>
      <td>1971-12-31</td>
      <td>1971.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>19.688</td>
      <td>...</td>
      <td>0.000</td>
      <td>I</td>
      <td>A &amp; E PLASTIK PAK INC</td>
      <td>P</td>
      <td>01</td>
      <td>LU</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1000</td>
      <td>1972-12-31</td>
      <td>1972.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>11.326</td>
      <td>...</td>
      <td>1.148</td>
      <td>I</td>
      <td>A &amp; E PLASTIK PAK INC</td>
      <td>P</td>
      <td>01</td>
      <td>LU</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
    </tr>
    <tr>
      <th>12</th>
      <td>1000</td>
      <td>1973-12-31</td>
      <td>1973.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>12.969</td>
      <td>...</td>
      <td>1.016</td>
      <td>I</td>
      <td>A &amp; E PLASTIK PAK INC</td>
      <td>P</td>
      <td>01</td>
      <td>LU</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
    </tr>
    <tr>
      <th>13</th>
      <td>1000</td>
      <td>1974-12-31</td>
      <td>1974.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>19.473</td>
      <td>...</td>
      <td>0.784</td>
      <td>I</td>
      <td>A &amp; E PLASTIK PAK INC</td>
      <td>P</td>
      <td>01</td>
      <td>LU</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
    </tr>
  </tbody>
</table>
<p>5 rows Ã— 45 columns</p>
</div>

In [13]:
# merge compustat_linking_filtered and CRSP using LPERMCO from linking table and PERMNO fron CRSP to compustat_crsp
compustat_crsp = compustat_linking_filtered.merge(CRSP, how='outer', left_on=['LPERMCO'], right_on=['PERMNO'])

In [14]:
# check shape of final merged dataframe
compustat_crsp.shape

(3111106, 51)

In [15]:
# check compustat_crsp data
compustat_crsp.head(50)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>gvkey</th>
      <th>datadate</th>
      <th>fyear</th>
      <th>indfmt</th>
      <th>consol</th>
      <th>popsrc</th>
      <th>datafmt</th>
      <th>tic</th>
      <th>curcd</th>
      <th>act</th>
      <th>...</th>
      <th>LPERMNO</th>
      <th>LPERMCO</th>
      <th>LINKDT</th>
      <th>LINKENDDT</th>
      <th>PERMNO</th>
      <th>date</th>
      <th>SHROUT</th>
      <th>CFACSHR</th>
      <th>vwretd</th>
      <th>sprtrn</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1000.0</td>
      <td>1970-12-31</td>
      <td>1970.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>21.351</td>
      <td>...</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1000.0</td>
      <td>1971-12-31</td>
      <td>1971.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>19.688</td>
      <td>...</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1000.0</td>
      <td>1972-12-31</td>
      <td>1972.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>11.326</td>
      <td>...</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1000.0</td>
      <td>1973-12-31</td>
      <td>1973.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>12.969</td>
      <td>...</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1000.0</td>
      <td>1974-12-31</td>
      <td>1974.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>19.473</td>
      <td>...</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1000.0</td>
      <td>1975-12-31</td>
      <td>1975.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>16.366</td>
      <td>...</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1000.0</td>
      <td>1976-12-31</td>
      <td>1976.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>21.647</td>
      <td>...</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1000.0</td>
      <td>1977-12-31</td>
      <td>1977.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AE.2</td>
      <td>USD</td>
      <td>23.548</td>
      <td>...</td>
      <td>25881.0</td>
      <td>23369.0</td>
      <td>1970-11-13</td>
      <td>1978-06-30</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1001.0</td>
      <td>1983-12-31</td>
      <td>1983.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AMFD.</td>
      <td>USD</td>
      <td>4.807</td>
      <td>...</td>
      <td>10015.0</td>
      <td>6398.0</td>
      <td>1983-09-20</td>
      <td>1986-07-31</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1001.0</td>
      <td>1984-12-31</td>
      <td>1984.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AMFD.</td>
      <td>USD</td>
      <td>2.789</td>
      <td>...</td>
      <td>10015.0</td>
      <td>6398.0</td>
      <td>1983-09-20</td>
      <td>1986-07-31</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1001.0</td>
      <td>1985-12-31</td>
      <td>1985.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AMFD.</td>
      <td>USD</td>
      <td>3.852</td>
      <td>...</td>
      <td>10015.0</td>
      <td>6398.0</td>
      <td>1983-09-20</td>
      <td>1986-07-31</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1002.0</td>
      <td>1972-12-31</td>
      <td>1972.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AAIC</td>
      <td>USD</td>
      <td>12.865</td>
      <td>...</td>
      <td>10023.0</td>
      <td>22159.0</td>
      <td>1972-12-14</td>
      <td>1973-06-05</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>12</th>
      <td>1003.0</td>
      <td>1983-12-31</td>
      <td>1983.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>ANTQ</td>
      <td>USD</td>
      <td>8.273</td>
      <td>...</td>
      <td>10031.0</td>
      <td>6672.0</td>
      <td>1983-12-07</td>
      <td>1989-08-16</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>13</th>
      <td>1003.0</td>
      <td>1984-12-31</td>
      <td>1984.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>ANTQ</td>
      <td>USD</td>
      <td>7.817</td>
      <td>...</td>
      <td>10031.0</td>
      <td>6672.0</td>
      <td>1983-12-07</td>
      <td>1989-08-16</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>14</th>
      <td>1003.0</td>
      <td>1986-01-31</td>
      <td>1985.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>ANTQ</td>
      <td>USD</td>
      <td>12.458</td>
      <td>...</td>
      <td>10031.0</td>
      <td>6672.0</td>
      <td>1983-12-07</td>
      <td>1989-08-16</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>15</th>
      <td>1003.0</td>
      <td>1987-01-31</td>
      <td>1986.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>ANTQ</td>
      <td>USD</td>
      <td>13.090</td>
      <td>...</td>
      <td>10031.0</td>
      <td>6672.0</td>
      <td>1983-12-07</td>
      <td>1989-08-16</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>16</th>
      <td>1003.0</td>
      <td>1988-01-31</td>
      <td>1987.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>ANTQ</td>
      <td>USD</td>
      <td>14.199</td>
      <td>...</td>
      <td>10031.0</td>
      <td>6672.0</td>
      <td>1983-12-07</td>
      <td>1989-08-16</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>17</th>
      <td>1003.0</td>
      <td>1989-01-31</td>
      <td>1988.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>ANTQ</td>
      <td>USD</td>
      <td>14.656</td>
      <td>...</td>
      <td>10031.0</td>
      <td>6672.0</td>
      <td>1983-12-07</td>
      <td>1989-08-16</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>18</th>
      <td>1004.0</td>
      <td>1972-05-31</td>
      <td>1971.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>12.620</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19</th>
      <td>1004.0</td>
      <td>1973-05-31</td>
      <td>1972.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>18.490</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>20</th>
      <td>1004.0</td>
      <td>1974-05-31</td>
      <td>1973.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>24.602</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>21</th>
      <td>1004.0</td>
      <td>1975-05-31</td>
      <td>1974.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>35.925</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>22</th>
      <td>1004.0</td>
      <td>1976-05-31</td>
      <td>1975.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>35.507</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>23</th>
      <td>1004.0</td>
      <td>1977-05-31</td>
      <td>1976.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>37.068</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24</th>
      <td>1004.0</td>
      <td>1978-05-31</td>
      <td>1977.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>45.721</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>25</th>
      <td>1004.0</td>
      <td>1979-05-31</td>
      <td>1978.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>50.103</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>26</th>
      <td>1004.0</td>
      <td>1980-05-31</td>
      <td>1979.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>52.722</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>27</th>
      <td>1004.0</td>
      <td>1981-05-31</td>
      <td>1980.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>59.334</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>28</th>
      <td>1004.0</td>
      <td>1982-05-31</td>
      <td>1981.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>73.908</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>29</th>
      <td>1004.0</td>
      <td>1983-05-31</td>
      <td>1982.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>69.656</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>30</th>
      <td>1004.0</td>
      <td>1984-05-31</td>
      <td>1983.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>92.526</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>31</th>
      <td>1004.0</td>
      <td>1985-05-31</td>
      <td>1984.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>102.454</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>32</th>
      <td>1004.0</td>
      <td>1986-05-31</td>
      <td>1985.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>140.741</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>33</th>
      <td>1004.0</td>
      <td>1987-05-31</td>
      <td>1986.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>168.950</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>34</th>
      <td>1004.0</td>
      <td>1988-05-31</td>
      <td>1987.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>208.395</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>35</th>
      <td>1004.0</td>
      <td>1989-05-31</td>
      <td>1988.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>257.048</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>36</th>
      <td>1004.0</td>
      <td>1990-05-31</td>
      <td>1989.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>275.576</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>37</th>
      <td>1004.0</td>
      <td>1991-05-31</td>
      <td>1990.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>268.399</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>38</th>
      <td>1004.0</td>
      <td>1992-05-31</td>
      <td>1991.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>289.537</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>39</th>
      <td>1004.0</td>
      <td>1993-05-31</td>
      <td>1992.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>265.036</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>
      <td>2018-11-02</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>40</th>
      <td>1004.0</td>
      <td>1994-05-31</td>
      <td>1993.0</td>
      <td>INDL</td>
      <td>C</td>
      <td>D</td>
      <td>STD</td>
      <td>AIR</td>
      <td>USD</td>
      <td>307.723</td>
      <td>...</td>
      <td>54594.0</td>
      <td>20000.0</td>
      <td>1972-04-24</td>